*{
    box-sizing: border-box;
}
.row{
    width:100%;
    display: flex;
    margin:0px;
    padding:0px;

}
h1{
    margin-bottom: 15px;
    text-align: center;
    font-size:20px;
}

.menu1 h2{
    text-align: center;
    background-color:rosybrown;
    width:150px;

    float:right;
    margin:0px;
    border:2px;
}
.menu2 h2{
    text-align:center;
    background-color:red;
    width:100px;
    float:right;
    margin:0px;
    border:2px;
}
.menu3 h2{
    text-align: center;
    background-color:brown;
    width:100px;
    float:right;
    margin:0px;
    border:2px;

}
div.menu1
 {
    border: 2px yellow;
    background-color:gray;
    width:30% ;
    height  :30%;
    font-family : Helvetica;
    text-align:inherit;
    margin:20px;
 
}
p{
    clear:right;
    padding: 10px;
}
div.menu2 
{
    border:2px soild blue;
    background-color: gray;
    width:30%;
    height:30%;
font-family: helvetica;
text-align:inherit;
margin:20px;

}
div.menu3
{
    border:2px black;
    background-color: gray;
    width:30%;
    height:30%;
font-family: helvetica;
 text-align: inherit;
 margin: 20px;
}

 @media (min-width:768px) and (max-width:992px) {
    menu1{
        width:50%;
    
        margin:10px;
    }
    menu2{
        width:50%;
        
        margin:10px;

    }
    menu3{
    width:100%;

    margin:10px;
    }
}
 @media (max-width:767px) {
    menu1{
        width:100%;
    
        margin:10px;
    }
    menu2{
        width:100%;

        margin:10px;

    }
    menu3{
    width:100%;
    
    margin:10px;
    }
 }
    
 