<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <div fxFlex >
      <div>
          <h3>Menu</h3>
          <hr>        
      </div>
     </div>


<div fxFlex>
  <mat-grid-list cols="2" rowHeight="200px">
    <mat-grid-tile *ngFor="let dish of dishes" (click) ="onSelect(dish)">
      <img height="200px" src={{dish.image}} alt={{dish.name}}>
      <mat-grid-tile-footer>
        <h1 > {{dish.name | uppercase}} </h1>
         </mat-grid-tile-footer>
        </mat-grid-tile>
  </mat-grid-list>
</div>
      <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
      </head>
      <body>
        
      </body>
      
      </html>
      <app-dishdetail [dish] = "selectedDish"></app-dishdetail>  
 </div>
